*{
    color: rgb(7, 1, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background-image: url('Jakarta.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body {
    margin-top: 8%;
}

#cityInput {
    width: 930px;
    height: 62px;
    left: 439px;
    top: 370px;
    background: rgba(249, 249, 249, 0.98);
    border-radius: 10px;
}

button {
    width: 135px;
    height: 69px;
    left: 864px;
    top: 370px;
    color: rgba(249, 249, 249, 0.98);
    background: #272E37;
    border-radius: 10px;
}

#cityName {
    font-size: 50px;
    margin-top: 2rem;
    margin-bottom: -6rem;
    text-align:center;
    font-weight:bold;
    color: rgba(249, 249, 249, 0.98);
}

#Para1 {
    height: 69px;
    left: 410px;
    top: 276px;
    font-style: normal;
    font-weight: 600;
    font-size: 94px;
    line-height: 108.5%;
    text-align: center;
    color: rgba(249, 249, 249, 0.98);
}

#cityInput, #inputContainer, button{
    margin: 3px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
}

#weatherContainer{
    position: absolute;
    margin-top: 15rem;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 1300px;
}

#iconsContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.icons{
    display: inline-bock;
    float: left;
    height: 200px;
    width: 190px;
    margin: 1rem;
    background-color: #272E37;;
    border-radius: 10px;
}

.image{
    height: 140px;
    width: 100%;
}

.imgClass{
    height: 140px;
    width: 100%;
}

.weather{
    margin: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.minValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    color: #fff;
}


.maxValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    color: #fff;
}
